<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>

    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-6-sm justify-content-sm-center">
                <table class="table justify-content-sm-center">
                    <thead>
                        <tr>
                            <th scope="col">Names Table</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each names}}
                        <tr>
                            <td class="justify-content-sm-center"><a href="/counter/{{this.name_}}"> {{this.name_}}</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>